@charset "UTF-8";

@media screen and (max-width: 601px) {
    nav{
        text-align: center;
        margin-bottom: 10px;
    }

    nav > div#opcoes a, div#linkCategorias{
        padding: 10px;
        border-radius: 0px;
        cursor: pointer;
        margin: 10px 0px;
        width: 100%;
    }

    /* nav > div#opcoes a:hover, div#linkCategorias:hover{
        background-color: white;
        color: black;
    } */

    div#linkCategorias:hover div#categorias{
        display: none;
    }

    div#linkCategorias div#categorias{
        display: none;
    }

    div#opcoes{
        display: none;
    }

    span.material-symbols-outlined{
        display: block;
        cursor: pointer;
        height: 40px;  
        padding: 10px;
        margin: 5px;
    }

    main article{
        max-height: 400px;
    }

    .produto p{
        font-size: 12.5px;
    }

    .btn_carrinho{
        padding: 5px;
    }

    .btnComprar{
        font-size: 0.9em !important;
    }
}