@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    height: 100vh;
    width: 100vw;
}

section#section-main{
    width: 100%;
    height: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}

header{
    background-color: black;
    color: white;
}

header > section#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-family: monospace;
    font-size: 2em;
}

div#linkCategorias{
    text-align: center;
    position: relative;
}

div#linkCategorias:hover div#categorias{
    display: block;
    background-color: black;
}

div#linkCategorias ul{
    list-style: none;
}

div#categorias{
  position: absolute;
  top: 100%; /* Abaixo do botão */
  left: 0px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: none; /* Esconde o menu inicialmente */
  z-index: 10;
}

div#categorias li{
    border-bottom: 1px solid white;
    margin-bottom: 2px;
    padding: 10px;
    border-radius: 5px;
}

div#categorias ul li:hover{
    background-color: gray;
}

span.material-symbols-outlined{
    display: none;
}

nav > div{
    display: flex;
    align-items: center;
}

div  a{
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

div a#a_produtos:hover{
    background-color: black;
}

div > a:hover{
    background-color: rgb(60, 60, 60);
}

header div#divHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#pesquisar{
    display: flex;
    align-items: center;
    height: 30px;
    width: 420px;
    background-color: white;
    border-radius: 8px;
}

div#pesquisar input{
    width: 100%;
    border: none;
    height: 100%;
    padding: 5px;
    border-radius: 8px;
    font-size: 1em;
}

div#pesquisar input:focus-visible{
    outline: none;
}

div#pesquisar img{
    margin: 2px;
    width: 25px;
    cursor: pointer;
}

header div#divHeader div#btnLogin{
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 10px 10px; 
    border-radius: 15px;
}

div#btnLogin a{
    padding: 0px !important;
}

div#divHeader div#btnLogin a#carrinhoImg{
    margin-right: 15px;
}

header div#divHeader div#btnLogin a:hover{
    background-color: rgba(255, 255, 255, 0.595);
    transition: background-color .3s;
}

header div#divHeader div#btnLogin a#carrinhoImg:hover{
    background-color: black;
}

header div#divHeader > div#btnLogin img{
    background-color: white;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

main{
    width: 100%;
    height: 100%;
    flex:auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.msgOcultar{
    display: none;
}

main article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

.articleMostrarProd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 98%;
    margin: 0px;
    position: fixed;
    z-index: 1000;
} 

.mostrarProduto{
    width: 60%;
    height: 100%;
    background-color: rgb(63, 63, 63);
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.478);
    overflow-y: auto;
}

.mostrarProduto button{
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color .2s;
}

.mostrarProduto button:hover{
    background-color: gray;
}

.divProdutoInfo{
    display: flex;
}

.divProdutoInfo div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0px 5px
}

.produtosInfo_div{
    display: flex;
    justify-content: center;
}

.produtosInfo_div p{
    margin-bottom: 20px;
}

.infoProduto{
    font-size: 1.2em;
    margin-bottom: 10px;
    color: white;
}

.precoProduto{
    font-size: 2em;
}

.btnComprar{
    width: 60%;
    padding: 5px;
    background-color: rgb(18, 247, 18);
    color: white;
    font-size: 1.2em;
    border: none;
}

.divProdutoInfo img{
    width: 80%;
}

.secao-produtos{
    display: flex;
    justify-content: flex-start;
    border: 3px solid black;
    max-width: 90%;
    overflow-x: hidden;
}

.produto{
    display: flex;
    align-items: center; 
    flex-flow: column wrap;
    padding: 20px;
    text-align:center;
    margin: 15px 9px 15px 9px;
    border: 1px solid gray;
    cursor: pointer;
    max-width: 350px;
}

.produto:hover{
    background-color: rgba(0, 0, 0, 0.284);
}

.p-preco{
    color: rgb(18, 247, 18);
    font-weight: bolder;
}

.btn_carrinho, .btn_removeCarrinho{
    padding: 8px;
    border-radius: 10px;
    border: none;
    background-color: whitesmoke;
    cursor: pointer;
    transition: all .3s;
}

.btn_carrinho:hover{
    background-color: orange;
}

.btn_removeCarrinho:hover{
    background-color: red;
}

.produtoCarrinho{
    width: 20%;
}

img{
    width: 100px;
    margin-bottom: 5px;
}