@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    height: 100vh;
    width: 100vw;
}

section#section-main{
    width: 100%;
    height: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}

header{
    background-color: black;
    color: white;
}

header > section#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-family: monospace;
    font-size: 2em;
}

div#linkCategorias{
    text-align: center;
    position: relative;
}

div#linkCategorias:hover div#categorias{
    display: block;
    background-color: black;
}

div#linkCategorias ul{
    list-style: none;
}

div#categorias{
  position: absolute;
  top: 100%; /* Abaixo do botão */
  left: 0px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: none; /* Esconde o menu inicialmente */
  z-index: 10;
}

div#categorias li{
    border-bottom: 1px solid white;
    margin-bottom: 2px;
    padding: 10px;
    border-radius: 5px;
}

div#categorias ul li:hover{
    background-color: gray;
}

span.material-symbols-outlined{
    display: none;
}

nav > div{
    display: flex;
    align-items: center;
}

div  a{
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

div a#a_produtos{
    cursor: default;
}

div a#a_produtos:hover{
    background-color: black;
}

div > a:hover{
    background-color: rgb(60, 60, 60);
}

header div#divHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div#divHeader div#btnLogin{
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 10px 10px;
    border-radius: 15px;
}

header div#divHeader div#btnLogin:hover{
    background-color: rgba(255, 255, 255, 0.595);
    transition: background-color .3s;
}

header div#divHeader > div#btnLogin img{
    background-color: white;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

main{
    width: 100%;
    flex:auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.msgOcultar{
    display: none;
}

main article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

.secao-produtos{
    display: flex;
    justify-content: flex-start;
    border: 3px solid black;
    max-width: 90%;
    overflow-x: auto;
}

.produto{
    display: flex;
    align-items: center; 
    flex-flow: column wrap;
    padding: 20px;
    text-align:center;
    margin: 15px 9px 15px 9px;
    border: 1px solid gray;
    cursor: pointer;
    max-width: 350px;
}

.produto:hover{
    background-color: rgba(0, 0, 0, 0.284);
}

.p-preco{
    color: rgb(18, 247, 18);
    font-weight: bolder;
}

img{
    width: 100px;
    margin-bottom: 5px;
}